
.box {
    border: solid red;
    width: 30%;
    height: 30%;
}
//p {
//    text-align: center;
//    font-size: 26px;
//    font-family: 'cursive';
//    margin-bottom: 1.4%;
//    font-weight: bold;
//    color: #888;
//}
//.loginWrap {
//    width: 24%;
//    margin: 0 auto;
//    border: 1px #ccc solid;
//    padding: 2%;
//    border-radius: 5px;
//    background-color: rgba(132, 139, 191, 0.71);
//
//}
//.loginBtn {
//    width: 100%;
//}